.faq {
  width: 100%;
  background-color: var(--bg-base, #f0efe9);
}

.faq__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 50px 15px;
  color: var(--bg-accent, #000080);
  box-sizing: border-box;
}

.faq__title {
  font-size: 20px;
  line-height: 1;
  font-weight: 400;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
}

.faq__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.faq__item {
  padding: 0 17px;
  border: 2px solid var(--bg-accent, #000080);
  border-radius: 14px;
  display: grid;
  grid-template-columns: 1fr 40px;
  grid-template-rows: repeat(2, min-content);
  column-gap: 28px;
  position: relative;

  &--current {
    color: var(--color-second, #ffffff);
    background-color: var(--bg-accent, #000080);
  }
}

.faq__item:not(.faq__item--current) {
  padding-bottom: 0;
}

// .faq__item:first-child h3 {
//   width: 200px;
// }

.faq__item-title {
  font-size: 16px;
  line-height: 1.12;
  font-weight: 400;
  margin: 24px 0;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.faq__item p {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
  margin: 0;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.faq__button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  align-self: center;
  position: relative;
  background-color: var(--bg-accent, #000080);
  border: 1px solid var(--bg-accent, #000080);
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0.1deg);
    background-color: var(--bg-second, #ffffff);
  }

  &::before {
    width: 18px;
    height: 1px;
  }

  &::after {
    width: 1px;
    height: 18px;
  }

  &:hover:not(:disabled) {
    background-color: var(--bg-second, #ffffff);
    border: 1px solid var(--bg-accent, #000080);
  }

  &:hover:not(:disabled)::before,
  &:hover:not(:disabled)::after {
    background-color: var(--bg-accent, #000080);
  }

  &:active:not(:disabled):not(.faq__button--current) {
    background-color: #275699;
    border: 1px solid #275699;
  }

  &:active:not(:disabled):not(.faq__button--current)::before,
  &:active:not(:disabled):not(.faq__button--current)::after {
    background-color: var(--bg-second, #ffffff);
  }

  &:focus:not(:disabled),
  &:focus-visible:not(:disabled) {
    background-color: var(--bg-second, #ffffff);
  }

  &:focus:not(:disabled):before,
  &:focus:not(:disabled):after,
  &:focus-visible:not(:disabled):before,
  &:focus-visible:not(:disabled):after {
    background-color: var(--bg-accent, #000080);
  }

  &:disabled {
    background-color: var(--bg-button-dis, #a9afb7);
    border: 1px solid var(--bg-button-dis, #a9afb7);
    cursor: default;
  }

  &:disabled::before,
  &:disabled::after {
    background-color: var(--bg-second, #ffffff);
  }
}

.faq__button--current {
  background-color: var(--bg-second, #ffffff);

  &::before {
    background-color: var(--bg-accent, #000080);
  }

  &::after {
    display: none;
  }

  &:hover:not(:disabled),
  &:focus:not(:disabled),
  &:focus-visible:not(:disabled) {
    background-color: var(--bg-base, #f0efe9);
    border: 1px solid var(--color-second, #ffffff);
  }

  &:hover:not(:disabled)::before,
  &:focus:not(:disabled)::before,
  &:focus-visible:not(:disabled)::before {
    background-color: var(--bg-second, #ffffff)
  }

  &:active:not(:disabled) {
    background-color: var(--color-second, #ffffff);
    border: 1px solid var(--color-second, #ffffff);
  }

  &:active:not(:disabled)::before {
    background-color: #275699;
  }

  &:disabled {
    background-color: var(--bg-button-dis, #a9afb7);
    border: 1px solid var(--bg-button-dis, #a9afb7);
  }

  &:disabled::before {
    background-color: var(--bg-second, #ffffff);
  }
}

@media (width >=768px) {
  .faq__wrapper {
    padding: 60px 45px;
  }

  .faq__title {
    margin-bottom: 45px;
  }

  .faq__tab-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-bottom: 45px;
  }

  .faq__tab-button {
    min-width: 162px;
    font-size: 18px;
    padding: 17px;
  }

  .faq__info-item {
    padding-bottom: 22px;
    grid-template-columns: 560px 40px;
    grid-template-rows: repeat(2, min-content);
    column-gap: 78px;
  }

  .faq__info-item:first-child h3 {
    width: 500px;
  }

  .faq__info-item h3 {
    font-size: 22px;
    margin: 33px 0 19px;
  }

  .faq__info-item p {
    font-size: 18px;
    line-height: 1.33;
  }

  .faq__button {
    width: 40px;
    height: 40px;
    top: 5px;

    &::before {
      width: 20px;
    }

    &::after {
      height: 20px;
    }
  }
}

@media (width >=321px) and (width <=1365px) {
  .faq__info-item:not(.faq__info-item--current) {
    padding-bottom: 13px;
  }

  .faq__info-item:last-child h3 {
    margin: 22px 0;
  }

  .faq__info-item:last-child {
    padding-bottom: 0;
  }
}

@media (width >=1366px) {
  .faq__wrapper {
    padding: 100px 103px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0;
  }

  .faq__title {
    margin-bottom: 50px;
    text-align: left;
  }

  .faq__tabs {
    display: flex;
    gap: 40px;
  }

  .faq__tab-list {
    flex-direction: column;
    flex-wrap: nowrap;
    padding-bottom: 0;
    border-bottom: none;
  }

  .faq__tab-button {
    min-width: 260px;
    padding: 17px;
  }

  .faq__info-item {
    grid-template-columns: 660px 40px;
    column-gap: 160px;
  }

  .faq__info-item:first-child {
    border-top: 1px solid #74819c;
  }

  .faq__info-item:first-child p {
    width: 600px;
  }

  .faq__info-item:not(.faq__info-item--current) {
    padding-bottom: 0;
  }

  .faq__info-item h3 {
    font-size: 24px;
    margin: 31px 0 30px;
  }

  .faq__button {
    top: 0;
  }
}
