.header {
  padding: 20px 15px;
  background-color: var(--everlay-page, #a9afb7);
}

.header__main {
  width: 290px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.header__logo-wrapper {
  width: 52px;
  height: 52px;
  background-color: var(--bg-second, #ffffff);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  &--closed {
    display: none;
  }
}
