.header {
  background-color: var(--overlay-page, #a9afb7);
  display: grid;
  grid-template-columns: 15px 1fr 15px;
  grid-template-rows: 20px min-content auto 20px;
}

.header__main {
  width: 290px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  z-index: 3;
}

.header__logo-wrapper {
  width: 52px;
  height: 52px;
  background-color: var(--bg-second, #ffffff);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  &--closed {
    display: none;
  }
}

.header__hero {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}
