.hero {
    width: 320px;
    margin: 0 auto;
    position: relative;
}

.hero__swiper {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}

.hero__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

// .hero__list .hero__item {
//     display: grid;
//     grid-template-columns: 15px min-content 15px;
//     grid-template-rows: 229px min-content 20px;
// }

.hero__bullets {
    width: min-content;
    padding: 10px 16px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    z-index: 2;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 13px;
    background-color: var(--bg-second, #ffffff);
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    position: absolute;
    top: 201px;
    left: 15px;

    &::after {
        content: "";
        width: 10px;
        height: 10px;
        display: block;
        background-color: var(--bg-second, #ffffff);
        position: absolute;
        mask: url("/__spritemap#sprite-corner-icon-view") center / 10px 10px no-repeat;
        top: 18px;
        left: 78px;
        transform: rotate(-90deg);
    }
}

.hero__bullet {
    width: 6px;
    height: 6px;
    padding: 0;
    border-radius: 50%;
    border: 2px solid var(--bg-accent, #000080);
    box-sizing: border-box;
    cursor: pointer;

    &--active {
        width: 8px;
        height: 8px;
        background-color: var(--bg-button-active, #275699);
    }

    &:hover:not(:disabled) {
        background-color: var(--bg-accent, #000080);
        border: 1px solid var(--bg-second, #ffffff);
      }
    
      &:focus:not(:disabled),
      &:focus-visible:not(:disabled) {
        background-color: var(--bg-accent, #000080);
        border: 2px solid var(--bg-accent, #000080);
      }
    
      &:active:not(:disabled) {
        background-color: var(--bg-button-active, #275699);
        border: 2px solid var(--bg-button-active, #275699);
      }
    
      &:disabled {
        border: 2px solid var(--bg-button-dis, #a9afb7);
        cursor: default;
      }
}