.modal {
    width: 290px;
    color: var(--color-base, #000000);
    position: relative;
    margin: auto;
    padding: 40px 15px;
    background-color: var(--bg-second, #ffffff);
    border: none;
    border-radius: 16px;
    box-sizing: border-box;
}

.modal__title {
    font-size: 18px;
    line-height: 1;
    font-weight: 400;
    color: var(--bg-accent, #000080);
    margin: 0;
    margin-bottom: 15px;
    text-align: center;
}

.modal__description {
    text-align: center;
    margin: 15px 0;
    padding: 0 15px;
}

@media (min-width: 768px) {
  .modal {
    width: 510px;
    padding: 60px 80px;
  }

  .modal__title {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .modal__description {
    font-size: 16px;
    line-height: 1.25;
    margin: 20px 0;
    padding: 0;
  }
}

@media (min-width: 1440px) {
  .modal__title {
    font-size: 32px;
    line-height: 1.13;
  }

  .modal__description {
    line-height: 1.63;
  }
}
