.modal {
    width: 290px;
    color: var(--color-base, #000000);
    position: relative;
    margin: auto;
    padding: 40px 15px;
    background-color: var(--bg-second, #ffffff);
    border: none;
    border-radius: 16px;
    box-sizing: border-box;
}

.modal__title {
    font-size: 18px;
    line-height: 1;
    font-weight: 400;
    color: var(--bg-accent, #000080);
    margin: 0;
    margin-bottom: 15px;
    text-align: center;
}

.modal__description {
    text-align: center;
    margin: 15px 0;
    padding: 0 15px;
}

.modal-form__buttom-close {
    position: absolute;
    padding: 0;
    top: 20px;
    right: 20px;
    width: 16px;
    height: 16px;
    background-color: var(--bg-accent, #000080);
    mask: url("/__spritemap#sprite-cross-icon-view") center / 16px 16px no-repeat;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
